<button
  type="button"
  data-dropdown-toggle="language-dropdown"
  class="inline-flex justify-center p-2 text-gray-500 rounded cursor-pointer dark:hover:text-white dark:text-gray-400 hover:text-gray-900 hover:bg-gray-100 dark:hover:bg-gray-600"
>
  <%= icon "flag", library: "lucide", variant: "outline", class: "w-6 h-6" %>
  <span class="ml-2 text-sm font-medium">EN</span>
</button>
<!-- Dropdown -->
<div
  class="hidden z-50 my-4 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700"
  id="language-dropdown"
>
  <ul class="py-1" role="none">
    <li>
      <a
        href="#"
        class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:text-white dark:text-gray-300 dark:hover:bg-gray-600"
        role="menuitem"
      >
        <div class="inline-flex items-center">
          <%= icon "flag", library: "lucide", variant: "outline", class: "h-5 w-5 mr-2" %>
          <span>English (US)</span>
        </div>
      </a>
    </li>
    <li>
      <a
        href="#"
        class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:text-white dark:hover:bg-gray-600"
        role="menuitem"
      >
        <div class="inline-flex items-center">
          <%= icon "flag", library: "lucide", variant: "outline", class: "h-5 w-5 mr-2" %>
          <span>Deutsch</span>
        </div>
      </a>
    </li>
    <li>
      <a
        href="#"
        class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:text-white dark:hover:bg-gray-600"
        role="menuitem"
      >
        <div class="inline-flex items-center">
          <svg
            aria-hidden="true"
            class="h-3.5 w-3.5 rounded-full mr-2"
            xmlns="http://www.w3.org/2000/svg"
            id="flag-icon-css-it"
            viewBox="0 0 512 512"
          >
            <g fill-rule="evenodd" stroke-width="1pt">
              <path fill="#fff" d="M0 0h512v512H0z" />
              <path fill="#009246" d="M0 0h170.7v512H0z" />
              <path fill="#ce2b37" d="M341.3 0H512v512H341.3z" />
            </g>
          </svg>
          Italiano
        </div>
      </a>
    </li>
    <li>
      <a
        href="#"
        class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:text-white dark:text-gray-300 dark:hover:bg-gray-600"
        role="menuitem"
      >
        <div class="inline-flex items-center">
          <%= icon "flag", library: "lucide", variant: "outline", class: "h-5 w-5 mr-2" %>
          <span>中文 (繁體)</span>
        </div>
      </a>
    </li>
  </ul>
</div>
