<div class="mx-auto md:w-2/3 w-full flex">

    <%= render @dog %>

    <%= link_to "Edit this dog", edit_dog_path(@dog), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Back to dogs", dogs_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
