<% content_for :title, "Truffière de Cément | Truffes Noires Françaises" %>

<!-- 🌿 Hero Section with background image -->
<section class="relative h-[75vh] flex items-start justify-center text-center bg-cover bg-center" style="background-image: url('<%= asset_path("cement/cavage.jpg") %>')">
  <div class="w-full max-w-4xl mx-auto p-4 sm:p-8 text-center rounded-lg mt-[40vh]" style="background-color: rgba(0, 0, 0, 0.4);">
    <h1 class="text-3xl sm:text-5xl font-semibold text-white highlight">L'Art de la Truffe Noire Française</h1>
    <p class="text-base sm:text-lg text-white mt-2">Des truffes noires "Tuber Melanosporum" du Val de Loire, cultivées avec passion.</p>
    <a href="#newsletter" class="mt-4 sm:mt-6 inline-block text-white bg-[#1C3835] hover:bg-opacity-90 px-4 py-2 rounded-lg text-sm font-medium">Restez informé</a>
  </div>
</section>
