<div id="toast-container" data-controller="toasts" data-toasts-duration-value="5000" class="fixed top-4 right-4 z-50 flex flex-col items-end gap-2 max-w-md">
  <!-- Toast notifications will be dynamically inserted here -->
</div>
